@import url("https://fonts.googleapis.com/css2?family=Bellota&family=Roboto&display=swap");

body {
  width: 100%;
}

.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  z-index: -1;
}

.header-flowers {
  position: absolute;
  top: 20%;
  left: 0;
  width: 10%;
  z-index: -1;
}

.logo {
  width: 80px;
}

.container {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  width: 70%;
  display: flex;
  margin-left: 0;
  margin-right: auto;
}

.header-container {
  margin-top: 100px;
  width: 40%;
  margin-left: 0;
  margin-right: auto;
}

.header-about {
  margin: 40px auto;
  width: 50%;
  text-align: center;
}

.button-1 {
  background-color: #1ba4ce;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  display: inline;
}

.button-2 {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 20px;
  text-align: center;
  display: inline;
}

.button-3 {
  background-color: #1ba4ce;
  border: none;
  color: white;
  padding: 10px 35px;
  text-align: center;
  border-radius: 20px;
}

.button-4 {
  background-color: #30383b;
  border: none;
  color: white;
  padding: 10px 35px;
  text-align: center;
  border-radius: 20px;
}

.button-5 {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 40px;
  text-align: center;
  border-radius: 20px;
}

.second-section {
  display: flex;
  flex-wrap: wrap;
}

.second-section .service {
  width: 25%;
}

.second-section .smaller {
  width: 10%;
}

.item {
  margin-top: 20px;
  flex-grow: 1;
}

.section-header {
  margin: 40px auto;
  width: 50%;
  text-align: center;
}

.procedures-cards {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: center;
}

.procedures-bg {
  width: 100%;
}

.procedures-cards .card {
  margin: 10px;
  border: 1px solid black;
  padding: 15px;
}

.procedures-cards .card-middle {
  margin: 10px;
  box-shadow: 0 5px 20px #f0f0f0;
  padding: 15px;
}

.procedures-cards .image-card {
  padding: 15px;
}

.procedures-cards .image-card-middle {
  padding: 15px;
  margin-bottom: -25px;
}

.team-name {
  position: relative;
  background-color: white;
  margin: -50px 20px 60px 20px;
  padding: 10px;
}

.team-name-middle {
  position: relative;
  background-color: white;
  margin: -70px 20px 60px 20px;
  padding: 10px;
  box-shadow: 0 5px 20px #f0f0f0;
}

.team-img {
  width: 100%;
}

.social-icons-team i {
  font-size: 25px;
  margin: 10px;
}

.first-form-container {
  display: flex;
}

.contact-bg-img {
  width: 40%;
}

.first-form-container-form {
  font-size: 12px;
  width: 60%;
  background-color: #1ba4ce;
  padding: 60px 40px 40px 20px;
}

.first-form-container-form input:not([type=submit]),
.first-form-container-form select {
  color: white;
  width: 35%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: none;
  background-color: #1ba4ce;
  border-bottom: 1px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.first-form-container-form textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: none;
  background-color: #1ba4ce;
  border-bottom: 1px solid white;
  resize: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

input[type=submit] {
  margin-left: 20px;
}

.second-form-container {
  color: white;
  background-color: #1ba4ce;
}

.second-form-container-inner {
  display: flex;
  height: 300px;
  padding: 40px;
}

.second-form-container-left {
  width: 20%;
  margin: auto;
}

.second-form-container-form {
  width: 50%;
  margin: auto;
}

.second-form-container-form input[type=text],
.second-form-container-form input[type=email] {
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: none;
  background-color: #1ba4ce;
  border-bottom: 1px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 80%;
}

.second-form-container-form textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: none;
  background-color: #1ba4ce;
  border-bottom: 1px solid white;
  resize: none;
}

.icon {
  width: 15px;
  height: auto;
}

.footer-container {
  text-align: center;
}

.footer-navigation {
  width: 50%;
  display: flex;
  margin: auto;
  padding: 10px;
}

.item,
p,
input,
textarea,
select button,
.second-form-container-left {
  font-family: "Roboto";
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellota";
}

h1 {
  color: #30383b;
}

i:hover {
  color: #1ba4ce;
}

.button-4:hover {
  background-color: #1ba4ce;
}

p,
input,
textarea,
select button {
  font-size: 16px;
}

.item,
.main-h1-p {
  font-size: 15px;
}

h2 {
  font-size: 42px;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 22px;
}/*# sourceMappingURL=style.css.map */