p,
input,
textarea,
select button {
  font-size: 16px;
}

.item,
.main-h1-p {
  font-size: 15px;
}

.item,
p,
input,
textarea,
select,
button,
.second-form-container-left,
.copyright,
.h6-card {
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellota";
}

h1 {
  font-size: 50px;
  color: #30383b;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 22px;
}

.item,
.p-above-headers,
h3,
h5,
h6, 
.button-5,
.fa-circle-play
 {
  color: #473452;
}